  <% if employee_signed_in? %>
    <div class="center1">
      <h1 style="color:black">Creat new Job here</h1> 
      <%= link_to 'Create a new job',new_job_path,class:'btn btn-lg btn-primary'%>
    </div>

  <%elsif applicant_signed_in?%>
    <div class="center">
      
        <h1 style="color:black">Hello, <%=current_applicant.name%></h1>
        <%= link_to 'New Jobs for you',jobs_path,class:'btn btn-lg btn-dark'%>
        <%#<%= link_to 'Job_statu',applicant.applies.job,class:'btn btn-secondary my-2'%>
    
   </div>
  <%else%>

    <!DOCTYPE html>
    <html>
      <head>
        <title>Jober Home Page</title>
      </head>
      <body style="text-align: center !important; width: 60%; margin: 0 auto; margin: auto !important;">

        <div>
            <h1>Welcom to the Jober app</h1>
  
            <h2>Who are you</h2>
            <%= link_to 'Employee',employees_new_path,class:"btn btn-lg btn-primary"%>
            <%= link_to 'Applicant',applicants_new_path,class:"btn btn-lg btn-primary"%>
        </div> 
      </body>
    </html> 
  <%end%>

