<div ,class="row py-lg-5">
  <%=render 'jobs/job_details'%>
  <%if current_applicant%>
    <%if is_applied(current_applicant.id,@job.id)%>
      <h1 style="color:blue"> <%='You had Already Applied for this job'%></h1>
      <h1> Click here to cancle your application  <%= link_to "Cancle_application",applies_destroy_path(id:@job.id),method: :delete, data:{confirm: "Are you sure?"},class:'btn btn-warning'%>   </h1>
     
    <%else%>  
      <div>
        <h1 style="color:red">Click here to apply for this job</h1> <%=link_to "Apply_Now",applies_verify_path(job_id:@job.id ) ,method: :get,class:'btn btn-lg btn-primary'%>
        <%#<h1 style="color:red">Click here to apply for this job</h1> <%=link_to "Apply_Now",applies_create_path(job_id:@job.id ) ,method: :post,class:'btn btn-lg btn-primary'%>
      </div>
    <%end%>
  <%elsif current_employee%>
    <div>
      <%=link_to 'Edit job', edit_job_path(id:@job.id),class:'btn btn-lg btn-primary'%>
    </div>
    <div>
      <h1>See total application for this job
      <%=link_to 'Total_application',applicants_index_path(id:@job.id),class:'btn btn-info'%>
      </h1>
    </div>
    <div>
      <%=link_to 'Delete job', job_path(id:@job.id),method: :delete, data:{confirm: "Are you sure?"},class: 'btn btn-danger'%>
    </div>
  <%end%>
</div>

