</header>
<nav class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
  <a class="navbar-brand">Jober APP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 
    
        <% if employee_signed_in? %>
            
                <%= link_to 'Home',root_path %>
                <%= link_to 'Jobs',jobs_path%>
                <%= link_to 'Sign Out', destroy_employee_session_path, method: :delete%>
               
    
        <% elsif applicant_signed_in? %>
           
                
                    <li class="nav-item"><%= link_to 'Home',root_path%></li>
                    <li class="nav-item"><%= link_to 'Sign Out', destroy_applicant_session_path, method: :delete %></li>
                    <li class="nav-item"><%= link_to 'My jobs /Status', applies_index_path%></li>
            
           
        <% else %>
            <li class="nav-item">
                <%= link_to 'Home',root_path, class: 'nav-link' %>
            </li>

        <% end %>
   
</div>
</nav>
</header>